<div class="query_report_charts">
  <%= render :partial => "query_report/charts", locals: {report: report} %>
</div>
<div class="query_report_records">
  <%= render :partial => "query_report/records", locals: {report: report} %>
</div>
<div class="query_report_pagination">
<% 
	#Cambio en caliente del parametro send_as_email
	@s = paginate report.filtered_paginated_query, remote: @remote if report.paginate?
	@s = @s.gsub /send_as_email=1/, "send_as_email=0"
%>
  <%=  @s.html_safe %>
</div>